<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td>序列</td>
        <td>书名</td>
        <td>作者</td>
        <td>价格</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in books">
        <td>{{($index+1)}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>
            <button class="btn btn-default btn-xs" ng-if="btnPerm['view']" ng-click="view(book,$index)">查看</button>
        </td>
    </tr>
    </tbody>
</table>